.placeholder {
    border-bottom: dashed 1px #0088cc;
    color: #005194;
    cursor: pointer;

    &.editable-empty {
        font-style: italic;
        color: #DD1144;
    }
    &.disabled {
        border-bottom: 0;
        color: var(--editable-element-disabled-color, #005194);
    }
}


// #region set submit & cancel buttons text
.ee-submit::after {
    content: "\02713";
}
.ee-cancel::after {
    content: "\02717";
}
// #endregion

// #region makes sure all elements are in just one row
.ee-inputcont {
    display: flex;

    >*:nth-child(1) {
        align-self: stretch;
    }
}
.ee-buttons {
    display: flex;
}
// #endregion

// #region make sure input element is not shorter than buttons
.ee-inputcont {
    >*:nth-child(1) {
        align-self: stretch;
    }
}
// #endregion

// #region error block
.ee-error-block {
    width: auto;
    max-width: 300px;
    color: red;
}
// #endregion
