form {
    position: relative;
    min-height: 100%;
    display: flex;
}

input {
    align-self: stretch;
    font-size: 1em;
    padding: 5px 1.2em 5px 5px;
}

.ee-clear-x {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}

.ee-clear-x div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55%;
    height: 3px;
    background-color: #fff;
}

.ee-clear-x div:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.ee-clear-x div:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}